h1{
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

h2{
  font-size: 50px
}

p{
  font-size: 40px;
}

li{
  font-size: 40px;

}

#allStuff{
  background-color: pink;
  margin: 5%;
  padding: 2%;
  color: white;
}
